/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BASE */

body {

    background-color:#D6D6D6 ;
    color: black;

}

.wrapper {

    max-width: 1200px;
    margin: auto;


}

a {
    text-decoration: none;
}

li {

    list-style-type: none;

}

.material-symbols-outlined {

    font-size: 2.4rem;

}

/* HEADER */

header {

    border-top: 4px solid #E25254;
    background-color: white;

}

header p {

    font-family: "Jost", sans-serif;
    font-size: 2.625rem;
    font-weight: bold;
    color: black;

}

header a {
    color: black;
    font-family: "Jost", sans-serif;
    font-size: 1, 125rem;
    font-weight: bold;
    color: black;
}

header li :hover {

    color: #E25254;
}

header .wrapper {

    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.colle {

    display: flex;
    align-items: center;
    gap: 20px;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;


}

/* BOUTONS */




/* HERO */
.hero {

    background: url('../images/HERO.jpg');
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}

.boite-texte {

    position: absolute;
    right: 345px;
    top: 150px;
    height: 450px;
    width: 590px;
    background: rgba(226, 82, 84, 0.9);
    color: white;
}

h1{

font-family: "Josh",sans-serif;
font-weight: bold;    
font-size:3.125rem;
color:white;
padding-left:44px;
line-height: 110%;
}



/* SECTION CONTENU */




/* SECTION CONSEILS */

.conseil{

background: url('../images/tuile.png');
height:645px;
background-size: 100px;
background-repeat: repeat;
background-color: #8B2D2F;


}


/* FOOTER */



/*MODALE*/